{% extends 'Principal/base.html' %}

{% block content %}


  <div class="container">
	<div class="screen">
			<form class="login" method="post">
          {% csrf_token %}
          <h2>Iniciar Sesión</h2>
          <input type="hidden" name="next" value="{{ next }}" />
          <div class="login__field">
              <i class="login__icon fas fa-user"></i>
              <input type="text" name="{{ form.username.html_name }}" class="login__input" id="{{ form.username.id_for_label }}" placeholder="Username">
          </div>
          <div class="login__field">
              <i class="login__icon fas fa-lock"></i>
              <input type="password" name="{{ form.password.html_name }}" class="login__input" id="{{ form.password.id_for_label }}" placeholder="Password">
          </div>
          <button type="submit" class="button login__submit">
              <span class="button__text">Iniciar Sesion</span>
              <i class="button__icon fas fa-chevron-right"></i>
          </button>
      </form>
      <div class="social-login">
				<h3>Login via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-google"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
	</div>
</div>

{% endblock %}